<p>Login</p>
<form class="p-7" [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <label>Email</label>
  <br />
  <input type="email" formControlName="username" />
  <div class="">
    <span *ngIf="user && user.invalid && user.touched" class="text-red-400"
      >Email is required !</span
    >
    <span *ngIf="authResponseMessage" class="text-red-400">{{
      authResponseMessage
    }}</span>
  </div>
  <br />
  <br />
  <label>Password </label>
  <br />
  <input type="password" formControlName="password" />
  <br />
  <br />
  <button [disabled]="loginForm.invalid || isLoading" type="submit">
    {{ isLoading ? "Loaidng.." : "submit" }}
  </button>
</form>
